* {
    margin: 0;
}

body {
    background-color: #C4DBF9;
    text-align: center;
    padding: 390px 0px 0px 0px;
}

a {
    font-family: "garamond-atf-text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 49px;
    color: #3B5578;
    text-decoration: none;
}